* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  border: 3px solid blue;
  /* display: inline-block; */
  border-radius: 15px;
  background-color: bisque;
  width: 800px;
  height: 300px;
  margin: 100px 200px;
}

h1 {
  font-size: 2rem;
  padding: 10px;
}
/* #title,
#description {
  display: inline-block;
} */

img {
  /* display: inline-block; */
  float: left;
  margin: 50px 25px;
}

#desc-title {
  margin: 50px 35px;
}

p {
  font-size: 1rem;
  padding: 20px 10px;
}

h1 {
  padding: 10px;
}
