* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  background-color: antiquewhite;
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
}

label {
  display: inline-block;
  width: 100px;
}

.gender-div label {
  width: ;
}
