//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;

//*Font

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
