* {
  box-sizing: border-box;
  margin: 0;
}

p + h1 {
  font-size: 1rem;
  margin: 3rem;
  width: 8rem;
  height: 4rem;
  border: 1px solid red;
  border-radius: 60%;
  text-align: center;
  padding-top: 3rem;
}

p + h1:hover {
  outline: 3px solid purple;
  outline-offset: 3px;
}

.div1 {
  background-color: green;
  width: 50%;
}

.div2 {
  background-color: tomato;
  width: 50%;
}
.div3 {
  background-color: magenta;
  width: 50%;
}
