* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-body {
  background-image: url(./netflix2.jpg);
  background-repeat: no-repeat;
  width: 1440px;
  height: 1096px;
  /* background-position: center; */
  color: white;
}

.shadow-body {
  border: 1px solid black;
  width: 1240px;
  height: 1036px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 30px 100px;
}

.header {
  text-align: center;
  margin: 30px auto;

  font-size: 20px;
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

h4 {
  font-style: italic;
  font-size: 20px;
}

.form-survey {
  background-color: black;
  width: 500px;
  height: 870px;
  margin: 15px 370px;
}

.form-label {
  margin-left: 20px;
  margin-top: 10px;
}

.form-label-input {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
