* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*? HEADER */

header {
  background-color: rgb(56, 59, 70);
  background-color: rgb(56, 59, 70);
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid magenta;
  color: white;
  align-items: center;
}
.header-about {
  color: rgb(178, 15, 178);
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1.5rem;
}
.clarusway {
  color: rgb(178, 15, 178);
}

.left {
  font-size: 1.7rem;
  padding-left: 20px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 59, 70);
  color: white;
  height: 70px;
  align-items: center;
}
input {
  padding: 8px;
}
button {
  background-color: tomato;
  color: white;
  padding: 10px;
  margin-right: 20px;
}

h3 {
  padding-left: 20px;
}

.content {
  gap: 5rem;
  font-size: 1.2rem;
}
.content-left {
  flex-grow: 3;
  height: 550px;
}

.content-right {
  flex-grow: 1;
  border: 2px solid black;
  background-color: rgb(56, 59, 70);
  height: 170px;
  color: white;
  margin: 20px;
  padding: 20px;
}
.content-right h4 {
  padding-bottom: 10px;
}
.content-left {
  padding: 30px;
}
.content-left h4 {
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.par1 {
  padding-bottom: 20px;
}
footer {
  color: white;
  background-color: rgb(56, 59, 70);
  text-align: center;
  height: 160px;
}

footer h3 {
  padding-top: 50px;
}
