* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-img {
  background-image: url(./Netflix.jpg);

  background-repeat: no-repeat;
  background-size: 1000px 1200px;
  background-position: center;
}

.container {
  padding: 20px 100px;
  color: aliceblue;
}

.opacity-border {
  background-color: rgba(0, 20, 0, 0.3);
  border-radius: 10px;
  text-align: left;

  width: 700px;

  margin: 30px auto;
  padding: 30px 0;
}
.header {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
h4 {
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.form-body {
  background-color: black;
  width: 300px;
  height: 700px;
  padding: 20px;
  margin: auto;
}

.label_input {
  width: 250px;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.text-input {
  width: 250px;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.movie_type {
  margin-bottom: 20px;
}
.btn {
  margin: 20px;
  text-align: center;
}
.btn input {
  font-size: 20px;
  padding: 5px;
  background-color: red;
  color: white;
  width: 150px;
  height: 60;
  border-radius: 15px;
  padding: 10px;
}
